{% extends 'TuttoFrontendBundle::layout.html.twig' %}

{% block content %}
<form method="post" action="">
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_rest(form) }}

    <button>{{ "update"|trans }}</button>
</form>
{% endblock %}