{% extends 'FrontendBundle::layout.html.twig' %}
{% import 'FrontendBundle:macros:forms.html.twig' as forms %}

{% block container %}
    {% block flash_bags %}{{ parent() }}{% endblock %}
    <form method="post" action="{{ path('_reset_password') }}">
        <div>
            <label for="email">{{ "email"|trans }}</label>
            {{ forms.form_row(form.email) }}
        </div>
        {{ form_rest(form) }}
        <button>{{ "send"|trans }}</button>
    </form>
{% endblock container %}